p, .text, span {
    line-height: 1.25rem;
}
.our-products {
	background-color: #222222;
	margin: 0;
}
h1.our-products {
	color: white;
    padding: 3rem 0 1rem 0;
    font-size: 3.5rem;

	@media(max-width: 768px) {
	    font-size: 2.5rem;		
	}
}
p.our-products {
	color: white;
    padding: 0 0 3rem 0;
    font-size: 1.25rem;
    line-height: 2rem;
}
.container, .sp-pcp-container, .structural {
	margin: auto;
	@media(min-width: 1200px) {
		max-width: 960px;
	}
	@media(min-width: 1400px) {
		max-width: 1200px;
	}
	@media(min-width: 1600px) {
		max-width: 1400px;
	}
	@media(min-width: 1700px) {
		max-width: 1600px;
	}
}
.contact-info {	
	@media(min-width: 1200px) {
		max-width: 960px;
	}
	@media(min-width: 1400px) {
		max-width: 1200px;
	}
	@media(min-width: 1600px) {
		max-width: 1400px;
	}
	@media(min-width: 1700px) {
		max-width: 1600px;
	}
}
.structural {
	padding: 15px;
	margin-top: 4.5rem;
	margin-bottom: -1rem;
	padding-left: 40px;
	line-height: 2.5rem;
	@media(max-width: 768px) {
		max-width: 1600px;
		font-size: 2rem !important;
		margin-top: 1.5rem;
		margin-bottom: 0rem;
		padding: 15px;
		padding-left: 15px;
	}
}
.pcp-carousel-wrapper {
	.pcp-button-prev, .pcp-button-next {
		background-color: rgb(0, 173, 239) !important;
		border-color: rgb(0, 173, 239) !important ;
		border-radius: 30px;
	    width: 45px;
	    height: 45px;
	}
	.sp-pcp-carousel {
		padding-top: 20px !important;
	}
	.pcp-button-prev, .pcp-button-next {
		margin-top: -4.3rem !important;
    
	}
	.pcp-carousel-wrapper .pcp-button-prev.top_right {
	    right: 55px !important;
	}
	.pcp-section-title {
		color: rgb(221, 102, 63) !important;
		margin-top: 0.5rem !important;
    	margin-bottom: 1rem !important;

		@media(max-width: 768px) {
			padding-top: 0 !important;
			margin: 4px !important;
		}
	}
	a{
		text-decoration: none;
	}
	.swiper-slide {

	}
	i {
		font-weight: 900;
		color: #fff !important;
	}
	.sp-pcp-title {
		a {
			font-size: 1.5rem !important;
			font-weight: 600 !important;
			line-height: 30px;
			text-transform: capitalize;
			padding: 0.6rem 0 !important;
		}		
	}
	.pcp-carousel-wrapper .sp-pcp-post {
		max-width: 475px;
	}
	.sp-pcp-title {
		max-height: 70px;
		line-height: 35px;
    	overflow-y: hidden;
	}
	.sp-pcp-post-content p {
		max-height: 60px;
    	overflow-y: hidden;
	}
	.pcp-readmore-link {
		background: #e1624b !important;
	    color: #fff !important;
	    border-color: #e1624b !important;
	    border-radius: 30px !important;
        font-size: 1rem !important;
	    font-weight: 600 !important;
	    padding: 0.8rem 2rem !important;
	    margin-top: 1rem;

		&:hover {
			color: #e55f06 !important;
			background-color: white !important;
		}
	}
}
.pannel{
	.wp-block-media-text__content {
		padding: 0 7rem;
		@media(max-width: 1024px) {
			padding: 0 1rem;
			h1 {
				font-size: 2rem !important;
			}
		}
		@media(max-width: 768px) {
			padding: 50px 1rem;
			padding-bottom: 2rem !important;
		}
	}
	a {
		font-size: 1rem !important;
	    font-weight: 600;
	    padding: 1rem 2.2rem;
	    margin-top: 1rem;
		@media(max-width: 1024px) {
	    	padding: 0.5rem 1rem;
		}
		&:hover {
			color: #e55f06 !important;
			background-color: white !important;
		}
	}

	@media(max-width: 768px) {
		display: block;
	}
}
.sp-pcp-post .sp-pcp-post-thumb-area img {
    height: 300px;
    width: auto;
}
.swiper-container, .pcp-section-title {
	padding: 15px;
}
 .pcp-button-prev,  .pcp-button-next {	
	@media(max-width: 768px) {
	    margin-top: -30px !important;
	}
}
.wp-block-media-text__content {	
	@media(max-width: 768px) {
		padding-bottom: 2rem !important;
	}
	a {		
		@media(max-width: 768px) {
		    font-size: 0.95rem;
		    font-weight: 600;
		}
	}
}
.pcp-button-prev, .pcp-button-next {
	@media(max-width: 768px) {
		top: 24px !important;
	}
}